# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DemoWeb\Thuc-hanh-Module-3-NghiaNT\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
